@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75,300;100,300;100,400;100,700&family=Megrim&family=Roboto:wght@100;300;500&family=Rubik+Glitch&display=swap');
body{
        margin: auto;
        padding: 0px;
}


header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: #412728; */
        background-color: rgb(1, 12, 19);
}
header h1 a{
        font-family: 'Rubik Glitch';
}

footer a, header a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        margin: 20px;
}

a:hover{
        color: #ffffffd5;
}

header ul{
        list-style: none;
        padding: 0px;
        display: flex;
        margin:1px;
        justify-content: space-between;
}

header ul a{
        padding-left: 40px;
        font-family: 'Fredoka';
        width: 75;
        font-weight: 300;
}


footer{
        background-color: #010c13;
}
footer ul{
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
}

footer p{
        color: #ffffff;
        text-align: center;
        font-family: 'Fredoka';
        padding: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: 300;
}

footer img{
        width: 50px;
        margin-top:20px;
        background-color:  #ffffff;
        border-radius: 24px;
}

footer ul img:hover{
        background-color: #ffffffd5;
        border-width: 5px;
}

